/* Styling for the body */
html, body {
  font-family: 'Open Sans', sans-serif;
}

/* Add spacing between buttons of social links */
.social-links a {
  margin: 4px;
}

/* Make the buttons of social links rounded */
.social-links a.btn-floating {
  border-radius: 20%;
}

/* Animation to fade in elements with the 'fade-in' class */
.fade-in {
  opacity: 0; /* Sets the initial opacity to fully transparent */
  animation: fadeInAnimation 2s ease 1s forwards; /* Applies the fadeInAnimation with specified duration, timing function, delay, and fill mode */
}

/* Keyframes for the fadeInAnimation */
@keyframes fadeInAnimation {
  to {
    opacity: 1; /* Gradually increases opacity to fully opaque at the end of the animation */
  }
}
